# IntelliJ project files #
.idea
/.idea
classes
out
build
*.class

# Eclipse project files #
.classpath
.project
.settings

# Gradle #
target
gradlew*

# Package Files #
*.jar
*.war
*.ear


*.html
*.xml
*.iml

client/node_modules